:root {
  --margin-img-LR: 10px;
  --padding-vie: 6px;
  --duration-animation-attaque: 700ms;
}

section {
  margin-top: var(--height-header);
  margin-left: 0;
  width: 100%;
}

.canvas {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
}

.jeu {
  position: relative;
  width: 100%;
}

.personnages {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.personnage {
  width: 50%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  order: 2;
  position: relative;
  left: 0;
  right: 0;
  border: 2px solid red;
  margin: 0px 40px;
  padding: 10px;
  border-radius: 10px;
}

.first {
  order: 1;
}

.espace {
  height: 48px;
}

.pseudo {
  text-align: center;
  margin-bottom: 10px !important;
}

.personnage img {
  width: calc(100% - (var(--margin-img-LR) * 2));
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid red;
  margin: 0px var(--margin-img-LR);
}

.personnage p {
  margin: 5px 15px;
  margin-top: 20px;
}

.personnage button {
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px;
  margin: 10px 10px;
  cursor: pointer;
  transition: 200ms;
}

.personnage button:first-of-type {
  margin-top: 0;
}

.luke {
  border-color: greenyellow;
}

.luke img {
  border-color: greenyellow;
}

.total-bar {
  width: calc(100% - (var(--margin-img-LR) * 2));
  height: 20px;
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
  margin: 0px var(--margin-img-LR);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.niveau-bar {
  margin-left: calc(var(--padding-vie) / 2);
  height: calc(100% - var(--padding-vie));
  width: calc(100% - var(--padding-vie));
  border-radius: 20px;
}

.vie {
  background-color: rgb(145, 0, 0);
}

.energie {
  background-color: rgb(0, 51, 145);
}

.pop-up-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 2;
}

.pop-up {
  position: absolute;
  top: 40vh;
  left: 10%;
  width: calc(80% - 40px);
  z-index: 1;
  background-color: black;
  border: white solid 2px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pop-up button {
  background-color: black;
  border: white solid 2px;
  border-radius: 20px;
  color: white;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  transition: 200ms;
}

.pop-up button:hover {
  border-color: black;
  background-color: white;
  color: black;
}

.pop-up p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 560px) {
  .personnages {
    flex-direction: column;
  }
  .personnage {
    width: 100%;
    margin: 20px 0px;
  }
}

.animation-attaque-left-right {
  animation: attaque-left-right var(--duration-animation-attaque);
}

.animation-attaque-right-left {
  animation: attaque-right-left var(--duration-animation-attaque);
}

@keyframes attaque-left-right {
  0% {
    left: 0px;
    animation-timing-function: ease-in-out;
  }

  35% {
    left: -70px;
    animation-timing-function: ease-in-out;
  }

  60% {
    left: 50px;
    animation-timing-function: ease-in-out;
  }

  80% {
    left: -20px;
    animation-timing-function: ease-in-out;
  }

  100% {
    left: 0px;
    animation-timing-function: ease-out;
  }
}

@keyframes attaque-right-left {
  0% {
    left: 0px;
    animation-timing-function: ease-in-out;
  }

  35% {
    left: 70px;
    animation-timing-function: ease-in-out;
  }

  60% {
    left: -50px;
    animation-timing-function: ease-in-out;
  }

  80% {
    left: 20px;
    animation-timing-function: ease-in-out;
  }

  100% {
    left: 0px;
    animation-timing-function: ease-out;
  }
}